<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pay2all.aeps">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <queries>
        <package android:name="com.mantra.rdservice" />
        <package android:name="com.scl.rdservice" />
        <package android:name="com.acpl.registersdk" />
        <package android:name="com.secugen.rdservice" />
        <package android:name="com.tatvik.bio.tmf20" />
        <package android:name="com.precision.pb510.rdservice" />
        <package android:name="com.evolute.rdservice" />
        <package android:name="com.mantra.mfs110.rdservice" />
        <package android:name="com.mantra.mis100v2.rdservice" />
        <package android:name="com.idemia.l1rdservice" />
        <package android:name="in.co.precisionit.innaitaadhaar" />
        <package android:name="co.aratek.asix_gms.rdservice" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity-->
<!--            android:name=".TestAEPS"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".AEPS_Service"
            android:exported="true" />
        <activity
            android:name=".Reports.TransactionReports"
            android:exported="true"
            android:label="Transaction History" />
        <activity
            android:name=".AEPSICICI.ReceiptTest"
            android:exported="true" />
        <activity
            android:name=".AEPSICICI.Withdrawal"
            android:exported="true"
            android:label="Cash Withdrawal" />
        <activity
            android:name=".AEPSICICI.BalaneEnquiry"
            android:exported="true"
            android:label="Balance Enquiry" />
        <activity
            android:name=".AEPSICICI.AadhaarPay"
            android:exported="true"
            android:label="Aadhaar Pay" />
        <activity
            android:name=".AEPSICICI.MiniStatement"
            android:exported="true"
            android:label="Mini Statement" />
        <activity
            android:name=".AEPSICICI.MiniStateListData.MiniStatementLIst"
            android:exported="true"
            android:label="Mini Statement" />
        <activity
            android:name=".PaytmAEPS.BalaneEnquiry"
            android:exported="true"
            android:label="Balance Enquiry" />
        <activity
            android:name=".PaytmAEPS.Withdrawal"
            android:exported="true"
            android:label="Cash Withdrawal" />
        <activity
            android:name=".PaytmAEPS.MiniStatement"
            android:exported="true"
            android:label="Mini Statement" />
        <activity
            android:name=".PaytmAEPS.MiniStatementLIst"
            android:exported="true"
            android:label="Mini Statement" />
        <activity
            android:name=".PaytmAEPS.TransactionReceipt"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".PaytmAEPS.ReceiptPaytm"
            android:exported="true"
            android:label="Receipt" />
        <activity
            android:name=".AEPSICICI.ReceiptICICI"
            android:exported="true"
            android:label="Receipt" />
        <activity
            android:name=".AgentVerifyDetail.VerifyAgent"
            android:label="2 Factor Authentication" />
        <activity android:name=".aepsnew.AEPSNewService" />

        <activity android:name=".InsuranceDetails.Insurance"
            android:label="Insurance"
            />
    </application>

</manifest>