<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pay2all.aeps">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <queries>
        <package android:name="com.mantra.rdservice"/>
        <package android:name="com.scl.rdservice"/>
        <package android:name="com.acpl.registersdk"/>
        <package android:name="com.secugen.rdservice"/>
        <package android:name="com.tatvik.bio.tmf20"/>
        <package android:name="com.precision.pb510.rdservice"/>
        <package android:name="com.evolute.rdservice"/>
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity-->
<!--            android:exported="true"-->
<!--            android:name=".TestAEPS">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
         <activity
            android:exported="true"
            android:name=".AEPS_Service" />
         <activity
            android:exported="true"
            android:name=".Reports.TransactionReports"
            android:label="Transaction History" />
         <activity
            android:exported="true"
            android:name=".AEPSICICI.ReceiptTest"/>
         <activity
            android:exported="true"
            android:name=".AEPSICICI.Withdrawal"
            android:label="Cash Withdrawal" />
         <activity
            android:exported="true"
            android:name=".AEPSICICI.BalaneEnquiry"
            android:label="Balance Enquiry" />
         <activity
            android:exported="true"
            android:name=".AEPSICICI.AadhaarPay"
            android:label="Aadhaar Pay" />

         <activity
            android:exported="true"
            android:name=".AEPSICICI.MiniStatement"
            android:label="Mini Statement" />

         <activity
            android:exported="true"
            android:name=".AEPSICICI.MiniStateListData.MiniStatementLIst"
            android:label="Mini Statement" />

         <activity
            android:exported="true"
            android:name=".PaytmAEPS.BalaneEnquiry"
            android:label="Balance Enquiry"
            />

         <activity
            android:exported="true"
            android:name=".PaytmAEPS.Withdrawal"
            android:label="Cash Withdrawal"
            />

         <activity
            android:exported="true"
            android:name=".PaytmAEPS.MiniStatement"
            android:label="Mini Statement"
            />

         <activity
            android:exported="true"
            android:name=".PaytmAEPS.MiniStatementLIst"
            android:label="Mini Statement"
            />

         <activity
            android:exported="true"
            android:name=".PaytmAEPS.TransactionReceipt"
            android:label="@string/app_name"
            />

        <activity
            android:name=".PaytmAEPS.ReceiptPaytm"
            android:label="Receipt"
            android:exported="true"
            />

        <activity
            android:name=".AEPSICICI.ReceiptICICI"
            android:label="Receipt"
            android:exported="true"
            />

        <activity android:name=".AgentVerifyDetail.VerifyAgent"
            android:label="2 Factor Authentication"
            />

    </application>

</manifest>